body{
    background-color: rgb(27, 27, 80);
}
h1{
    display: flex;
    justify-content: center;
    color: yellow;
    font-size: 2.5rem;
    font-family: 'Press Start 2P';
}
.flex{
    margin-top: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn{
    width: 30vh;
    height: 30vh;
    border: 6px solid;
    border-radius: 25%;
}
.btn-carr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
.pressed{
    box-shadow: 4px 3px 3px gray;
    opacity: 50%;
    border: 6px solid gray;
}
.added{
    opacity: 50%;
}
.gameOver{
    background-color: red;
    color: white;
}
